*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #b49371;
}
header{
    background-image: url("Bilder/Norrsken260111.jpg");
    background-size: cover;
    background-position: top;
    height: 500px; 
}
#center{
    width: 60%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    font-weight: bold; 
    text-decoration: underline; 
    flex-wrap: wrap;
}
main{
    background-color: lightgrey;   
    text-align: center;
    height: 60px;
}
h2{
    text-decoration: none;
    font-family: Georgia, serif; 
    color: lightgrey;
    -webkit-text-stroke: 0.5px grey;
    padding: 6px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
